@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewBag.Title = ViewBag.Title;
}

<div class="container-fluid pTitle">
    <h1>Les détergeants</h1>   

    <div class="container-fluid d-flex flex-wrap justify-content-center productrow">

        <div class="el-wrapper">
            <div class="box-up">
                <img class="img" src="~/images/squirrel1.png" alt=""/>
                <div class="img-info">
                    <div class="info-inner">
                        <span class="p-name">Nom du produit</span>
                    </div>
                    <div class="a-size">Quantité disponible : <span class="size">100</span></div>
                </div>
            </div>

            <div class="box-down">
                <div class="h-bg">
                <div class="h-bg-inner"></div>
            </div>

                <a class="cart" href="#">
                <span class="price">$120</span>
                <span class="add-to-cart">
                    <span class="txt">Add in cart</span>
                </span>
                </a>
            </div>
        </div>

        <div class="el-wrapper">
            <div class="box-up">
                <img class="img" src="~/images/Logo.png" alt=""/>
                <div class="img-info">
                    <div class="info-inner">
                        <span class="p-name">I feel like Pablo</span>
                        <span class="p-company">Yeezy</span>
                    </div>
                    <div class="a-size">Available sizes : <span class="size">S , M , L , XL</span></div>
                </div>
            </div>

            <div class="box-down">
                <div class="h-bg">
                    <div class="h-bg-inner"></div>
                </div>

                <a class="cart" href="#">
                <span class="price">$120</span>
                <span class="add-to-cart">
                    <span class="txt">Add in cart</span>
                </span>
                </a>
            </div>
        </div>

        <div class="el-wrapper">
            <div class="box-up">
                <img class="img" src="~/images/Logo.png" alt=""/>
                <div class="img-info">
                    <div class="info-inner">
                        <span class="p-name">I feel like Pablo</span>
                        <span class="p-company">Yeezy</span>
                    </div>
                    <div class="a-size">Available sizes : <span class="size">S , M , L , XL</span></div>
                </div>
            </div>

            <div class="box-down">
                <div class="h-bg">
                    <div class="h-bg-inner"></div>
                </div>

                <a class="cart" href="#">
                <span class="price">$120</span>
                <span class="add-to-cart">
                    <span class="txt">Add in cart</span>
                </span>
                </a>
            </div>
        </div>

        <div class="el-wrapper">
            <div class="box-up">
                <img class="img" src="~/images/Logo.png" alt=""/>
                <div class="img-info">
                    <div class="info-inner">
                        <span class="p-name">I feel like Pablo</span>
                        <span class="p-company">Yeezy</span>
                    </div>
                    <div class="a-size">Available sizes : <span class="size">S , M , L , XL</span></div>
                </div>
            </div>

            <div class="box-down">
                <div class="h-bg">
                <div class="h-bg-inner"></div>
            </div>

                <a class="cart" href="#">
                <span class="price">$120</span>
                <span class="add-to-cart">
                    <span class="txt">Add in cart</span>
                </span>
                </a>
            </div>
        </div>

        <div class="el-wrapper">
            <div class="box-up">
                <img class="img" src="~/images/Logo.png" alt=""/>
                <div class="img-info">
                    <div class="info-inner">
                        <span class="p-name">I feel like Pablo</span>
                        <span class="p-company">Yeezy</span>
                    </div>
                    <div class="a-size">Available sizes : <span class="size">S , M , L , XL</span></div>
                </div>
            </div>

            <div class="box-down">
                <div class="h-bg">
                <div class="h-bg-inner"></div>
            </div>

                <a class="cart" href="#">
                <span class="price">$120</span>
                <span class="add-to-cart">
                    <span class="txt">Add in cart</span>
                </span>
                </a>
            </div>
        </div>
    </div>


    <h1>Les outils nettoyants</h1>

    <h1>Les papiers</h1>

    <h1>Les biscuits</h1>

    <h1>Les breuvages</h1>

    <h1>Les chocolats</h1>

    <h1>Les fruits</h1>

    <h1>Les légumes</h1>

    <h1>Les cafés</h1>

    <h1>Les outils de construction</h1>
</div>




