@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewBag.Title = ViewBag.Title;
}

<div class="row justify-content-left" style="min-height: 90vh;">
    <div class="col">
        <div class="card-body d-flex flex-column">
            <h4>Coordonnées de l'entreprise :</h4>
            <p>Adresse : [adresse]</p>
            <p>Téléphone : [telephone]</p>
            <p>PDG : [pdg]</p>
        </div>
    </div>
</div>