@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewBag.Title = ViewBag.Title;
}

<div class="center">
    <div class="card shadow">
        <h4 class="card-title">Coordonnées de l'entreprise</h4>
        <div class="card-body">
            <p>Adresse : [adresse]</p>
            <p>Téléphone : [telephone]</p>
            <p>PDG : [pdg]</p>
        </div>
    </div>
</div>