@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewBag.Title = ViewBag.Title;
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success text-center">@TempData["Message"]</div>
}

<div>
    <p>test</p>
</div>