@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewBag.Title = ViewBag.Title;
}

<div class="container text-center mt-5">
    <img class="rounded-circle custom-border mx-auto" style="width: 50%; height: auto;" src="~/images/Logo.png" alt="Logo.png">
    <div class="container mt-3">
        <h2>Votre entreprise de confiance depuis la noix des temps</h2>
    </div>
</div>

<div class="astrodivider"><div class="astrodividermask"></div><span><i>&#10038;</i></span></div>