body {
    background-color: #FAF0E6 !important;
}

nav {
    background-color: #303E4D;
    height: 70px;
}

.height-element {
    min-height: calc(100vh - 80px); /* 100% de la hauteur de la vue moins la hauteur de la navbar */
}

.card-width {
    width: 30%;
}

.navtextcolor {
    color: #B8975A !important;
    font-size: 18px; /* Taille initiale du texte */
    transition: font-size 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55); /* Animation de la transition de la taille de la police */
}

.animate-hover:hover {
    font-size: 20px; /* Taille du texte au survol */
}

img.logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.card-background, .table-head-background {
    background-color: #39485A !important;
}

/* Style général du tableau */
table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 0.5rem;
    width: 100%;
    margin-bottom: 1rem;
}

/* Style pour les cellules du tableau */
th, td {
    padding: 0.5rem;
    border-bottom: 1px solid #39485A; /* Bordure en bas pour chaque cellule */
}

/* Supprimer la bordure du dernier tr pour ne pas avoir de double bordure en bas */
tbody tr:last-child th,
tbody tr:last-child td {
    border-bottom: none;
}

/* Arrondir les coins en haut du tableau */
thead th:first-child {
    border-top-left-radius: 0.5rem;
}

thead th:last-child {
    border-top-right-radius: 0.5rem;
}

.col-id {
    width: 5%; /* ou une autre valeur fixe comme 50px si vous préférez */
}

.col-first-name {
    width: 15%;
}

.col-last-name {
    width: 15%;
}

.col-username {
    width: 20%;
}

.col-email {
    width: 25%;
}

.col-is-admin {
    width: 10%;
}

.col-actions {
    width: 10%;
}

.text-color {
    color: #B8975A !important;
}

.card-text {
    color: #B8975A !important;
}

.field-background {
    background-color: #FAF0E6 !important;
}

.active-link {
    font-weight: bold;
}

.input-group-text {
    cursor: pointer; /* Change le curseur lors du survol de l'icône */
}

.user-info {
    background-color: #f8f9fa;
    border-left: 4px solid #B8975A;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

/* Style initial pour la section cachée */
#hiddenFields {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out; /* Animation sur 0.5 secondes */
}

/* Style lorsque la section est visible */
#hiddenFields.active {
    max-height: 500px;
    transition: max-height 0.5s ease-in; /* Animation sur 0.5 secondes */
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; /* Changez 'absolute' en 'relative' */
    margin-top: 80px; /* Ajoutez une marge en haut pour tenir compte de la navbar */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.center-create-user {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Changez 'absolute' en 'relative' */
    margin-top: 80px; /* Ajoutez une marge en haut pour tenir compte de la navbar */
    margin-bottom: 80px;
    width: 100%;
}

.margin-top {
    margin-top: 0rem;
}

.center-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.field-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 0.5rem;
    border: solid #FAF0E6;
    width: 95%;
    margin: auto;
}

.field-modal p {
    margin: auto; /* Centre le contenu de chaque élément <p> */
    text-align: center; /* Centre le texte horizontalement */
    font-size: 1.15rem;
}

.modal-header, .modal-footer {
    border: none; /* Supprime les bordures du header et du footer */
}

.modal-body {
    border-top: none; /* Supprime la bordure supérieure du body */
    border-bottom: none; /* Supprime la bordure inférieure du body */
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.modal-dialog {
    max-width: 600px;
}

.container-btns {
    display: flex;
    align-items: center;
}

.container-search {
    display: flex;
    align-items: center;
    width: 30%;
}

#searchBar {
    flex: 0;
    overflow: hidden;
    align-items: center;
    max-width: 0;
    transition: max-width 0.5s ease-out;
}

#searchDiv {
    display: flex;
    align-items: center;
    width: 100%;
}

#searchDiv .searchSelect {
    width: 30%;
}

#searchDiv .searchInput {
    width: 70%;
}

#searchBar.active {
    flex: 1;
    max-width: 80%;
    transition: max-width 0.5s ease-in;
}

.search-button {
    width: auto;
    position: relative;
    transition: padding-left 0.3s ease; /* Animation pour le décalage du texte */
}

.search-button #chevron {
    position: absolute;
    left: 10px;
    top: 29%;
    opacity: 0;
    transform: translateX(-20px); /* Position de départ hors du bouton */
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.search-button:hover #chevron {
    opacity: 1;
    transform: translateX(0);
}

.search-button:hover {
    padding-left: 1.75rem; /* Augmentation de l'espace pour décaler le texte */
}

@media (max-width: 2000px) {
    .navtextcolor, .animate-hover {
        font-size: 16px; /* Réduire la taille de la police pour les tablettes */
    }

    .card-background {
        padding: 1rem; /* Réduire le padding pour les petites cartes */
    }

    .height-element {
        min-height: calc(100vh - 80px); /* 100% de la hauteur de la vue moins la hauteur de la navbar */
    }

    .card-width {
        width: 40%;
    }

    .margin-top {
        margin-top: 0;
    }
}

@media (max-width: 1500px) {
    .navtextcolor, .animate-hover {
        font-size: 16px; /* Réduire la taille de la police pour les tablettes */
    }

    .card-background {
        padding: 1rem; /* Réduire le padding pour les petites cartes */
    }

    .height-element {
        min-height: calc(100vh - 80px); /* 100% de la hauteur de la vue moins la hauteur de la navbar */
    }

    .card-width {
        width: 60%;
    }

    .margin-top {
        margin-top: 10rem;
    }
}

/* Pour les écrans moyens et petits (tablettes et téléphones) */
@media (max-width: 1000px) {
    .navtextcolor, .animate-hover {
        font-size: 16px; /* Réduire la taille de la police pour les tablettes */
    }

    .card-background {
        padding: 1rem; /* Réduire le padding pour les petites cartes */
    }

    .height-element {
        min-height: calc(100vh - 80px); /* 100% de la hauteur de la vue moins la hauteur de la navbar */
    }

    .card-width {
        width: 80%;
    }

    nav {
        height: auto; /* Hauteur auto pour permettre plus de flexibilité sur les petits écrans */
    }

    .margin-top {
        margin-top: 10rem;
    }
}

/* Pour les très petits écrans (téléphones) */
@media (max-width: 576px) {
    .navtextcolor, .animate-hover {
        font-size: 14px; /* Encore plus petit pour les téléphones */
    }

    .card-background {
        margin: 0.5rem; /* Marges plus petites pour les écrans étroits */
        width: auto; /* Permettre à la carte de s'étendre et de se contracter */
    }

    #hiddenFields.active {
        max-height: 300px; /* Une hauteur maximale plus petite pour les petits écrans */
    }

    nav {
        height: auto; /* Hauteur auto pour permettre plus de flexibilité sur les petits écrans */
    }

    .user-info {
        padding: 0.25rem; /* Padding plus petit pour les informations utilisateur */
        margin-bottom: 0.5rem; /* Moins d'espace entre les éléments */
    }

    .height-element {
        min-height: calc(100vh - 80px); /* 100% de la hauteur de la vue moins la hauteur de la navbar */
    }

    .card-width {
        width: 80%;
    }

    .margin-top {
        margin-top: 10rem;
    }
}
