body {
    background-color: #FAF0E6 !important;
}

nav {
    background-color: #303E4D;
    height: 70px;
}

.navtextcolor {
    color: #B8975A !important;
    font-size: 18px; /* Taille initiale du texte */
    transition: font-size 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55); /* Animation de la transition de la taille de la police */
}

.animate-hover:hover {
    font-size: 20px; /* Taille du texte au survol */
}

img.logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.active-link {
    font-weight: bold;
}

.custom-border {
    border: 10px solid #B8975A; /* Couleur personnalisée */
    border-radius: 50%; /* Pour maintenir la forme circulaire */
}

/*Pour le ruban du slogan*/
h2 {
    position: relative;
    margin: 0 auto 40px;
    padding: 10px 40px;
    text-align: center;
    background-color: #B8975A;
    color: #322F2D;
    font-family: 'Merriweather', serif
}

    h2::before, h2::after {
        content: '';
        width: 80px;
        height: 100%;
        background-color: #B8975A;
        /* position ribbon ends behind and slightly lower */
        position: absolute;
        z-index: -1;
        top: 20px;
        /* clip ribbon end shape */
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 25% 50%);
        /* draw and position the folded ribbon bit */
        background-image: linear-gradient(45deg, transparent 50%, #805A36 50%);
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: bottom right;
    }

    h2::before {
        left: -60px;
    }

    h2::after {
        right: -60px;
        transform: scaleX(-1); /* flip horizontally */
    }

    /*Pour les séparateurs de sections*/
.astrodivider {
    margin: 64px auto;
    width: 400px;
    max-width: 100%;
    position: relative;
}

.astrodividermask {
    overflow: hidden;
    height: 20px;
}

    .astrodividermask:after {
        content: '';
        display: block;
        margin: -25px auto 0;
        width: 100%;
        height: 25px;
        border-radius: 125px / 12px;
        box-shadow: 0 0 8px #322F2D;
    }

.astrodivider span {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 100%;
    margin-bottom: -25px;
    left: 50%;
    margin-left: -25px;
    border-radius: 100%;
    box-shadow: 0 2px 4px #322F2D;
    background: #fff;
}

.astrodivider i {
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    border-radius: 100%;
    border: 1px dashed #322F2D;
    text-align: center;
    line-height: 40px;
    font-style: normal;
    color: #322F2D;
}

/*Pour les cartes des créateurs*/
:root {
    --surface-color: #fff;
    --curve: 40;
}

* {
    box-sizing: border-box;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
}

.card {
    position: relative;
    display: block;
    height: 100%;
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
}

.card__image {
    width: 100%;
    height: auto;
}

.card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: calc(var(--curve) * 1px);
    background-color: var(--surface-color);
    transform: translateY(100%);
    transition: .2s ease-in-out;
}

.card:hover .card__overlay {
    transform: translateY(0);
}

.card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
}

.card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1;
}

    .card__arc path {
        fill: var(--surface-color);
        d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
    }

.card:hover .card__header {
    transform: translateY(0);
}

.card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
}

.card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";
    font-size: .8em;
    color: #D7BDCA;
}

.card__status {
    font-size: .8em;
    color: #D7BDCA;
}

.card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #D7BDCA;
    font-family: "MockFlowFont";
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}    

