@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light align-items-center">
        <a class="navbar-brand navtextcolor" href="~/home/index"><img class="logo" src="~/images/Logo.png" alt="logo.png"></a>
        <div class="navbar-nav">
            <a class="nav-item nav-link navtextcolor" href="~/home/index">Accueil</a>
            <a class="nav-item nav-link navtextcolor" href="~/product/index">Produits</a>
            <!--page des factures du client (seulement quand il est connecté)-->
            <a class="nav-item nav-link navtextcolor" href="~/home/contact">Contact</a>
        </div>
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link navtextcolor" href="~/panier/index">Panier</a>
            <a class="nav-item nav-link navtextcolor" href="~/account/login">Connexion</a>
            <a class="nav-item nav-link navtextcolor" href="~/account/logout">Déconnexion</a>
        </div>
    </nav>
    <div class="container-fluid p-5 w-100">
        @RenderBody()
    </div>
</body>
</html>